.App {
  text-align: center;
  background-color: #010711;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-logo-small {
  height: 70px;
  pointer-events: none;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo,
  .App-logo-small {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010711;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  flex-direction: row;
}
.login .btn {
  background-color: rgb(17, 88, 17);
  margin: 20px;
}

.app-logo1 {
  display: flex;
  flex-direction: row;
}

.login-form .SubmitBtn {
  background-color: rgb(17, 88, 17);
}

.home {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mybtn {
  background-color: rgb(17, 88, 17);
  margin: 20px;
}

.advertise {
  text-align: center;
  background-color: black;
  height: 85vh;
}

.jumbotron-container{
  background-color: #e9ecef;
  overflow: overlay;
  height: 60vh;
}
@media (max-width: 100vw) {
  .imageSliding {
    height: 70vh;
  }
}
@media (max-width: 700px) {
  .imageSliding {
    height: 60vw;
  }
}

.loadingStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.chatbox-container {
  background-image: linear-gradient(
    90deg,
    rgb(85, 85, 204),
    white,
    rgb(85, 85, 204)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  height: 72vh;
}
.cb-messages {
  height: 50vh;
  margin: 10px 10px 0px 10px;
  width: 70vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}
.cb-input-container {
  height: 30px;
  width: 70vw;
  margin: 10px;
}

.myRowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cb-btn {
  width: 8vw;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  border-radius: 20px;
}
.cb-btn:hover {
  background-color: rgb(161, 161, 161);
}
.cb-btn:active {
  background-color: rgb(114, 110, 172);
}
.cb-input {
  width: 58vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  border: none;
  margin-right: 1vw;
  padding-left: 20px;
  padding-right: 20px;
}
.cb-input:focus {
  width: 58vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 400px) {
  .App {
    min-height: 100vh;
    flex-direction: column;
  }
  .App-header {
    min-height: 20vh;
  }
  .cb-messages {
    width: 90vw;
  }
  .cb-btn {
    width: 100px;
  }
}
